header {
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    img {
        width: 160px;
        height: 17.88px;
    }

    address {
        display: none;
    }
}

section {
    display: flex;
    align-items: center;
    justify-content: center;

    &.one {
        background: $cyan;
    }

    &.two {
        background: $orange;
    }

    &.three {
        background: $yellow;
    }

    &.four {
        background: $blue;
    }

    &.five {
        background: $red;
        display: flex;
        flex-direction: column;
    }
}

.image_container {
    img {
        width: 256px;
        height: 324.27px;
    }

    .text_wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        color: $black;
        padding: 0 1rem;

        .issue {
            font-size: 18px;
        }

        a {
            color: $white;
            font-weight: 700;
            font-size: 15px;
            text-decoration: none;
        }

        p {
            font-size: 15px;
            font-weight: 700;
        }
    }
}

footer {
    scroll-snap-align: start;
    background: $red;
    padding: 0 1.5rem 1.5rem 1.5rem;
    text-align: center;
    
    .text_container {
        display: flex;
        flex-direction: column;
        gap: .75rem;
        
        .description {
            font-weight: 700;
            color: $black;
            font-size: 18px;
        }
    
        .copyright {
            font-size: 12px;
    
            a {
                color: $black;
                font-size: 12px;
                font-weight: 400;
            }
        }
    
        a {
            margin-top: 1.5rem;
            color: $black;
            font-size: 18px;
            font-weight: 700;
        }
    
        address {
            margin-top: 1.5rem;
            display: block;

            a {
                text-decoration: none;
                font-style: normal;
            }
        }
    }

    address {
        display: none;
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        
        a {
            color: $black;
            text-decoration: none;
        }
    }
}

@media screen and (min-width: 768px) {
    footer {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .text_container {
            max-width: 300px;
            text-align: start;
            align-items: flex-start;

            address {
                display: none;
            }
        }

        address {
            display: block;
        }
    }
}